@model IEnumerable<AMS.Models.Assignment>

@{
    ViewData["Title"] = "Assignments";
}


@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Assignments
            </div>
            <div class="card-body">

                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-show-export="true"
                       data-filter-control="true"
                       data-show-search-clear-button="true"
                       class="table">
                    <thead>
                        <tr>
                            <th data-field="userGroup" data-sortable="true" data-filter-control="select">
                                @Html.DisplayNameFor(model => model.UserGroup)
                            </th>
                            <th data-field="user" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th data-field="role" data-sortable="true" data-filter-control="select">
                                @Html.DisplayNameFor(model => model.RoleName)
                            </th>
                            <th data-field="ticket" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Ticket)
                            </th>
                            <th data-field="todoTask" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.TodoTask)
                            </th>
                            <th data-field="actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserGroup.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ticket.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TodoTask.Summary)
                                </td>
                                <td>
                                    <a class="btn-sm btn-secondary mx-1" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil mx-1"></i>Edit</a>
                                    <a class="btn-sm btn-info mx-1" asp-controller="MetaFieldValues" asp-action="Index" asp-route-assetId="@item.Id">Meta</a> |
                                    <a class="btn-sm btn-secondary mx-1" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list mx-1"></i>Details</a>
                                    <a class="btn-sm btn-danger mx-1" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove mx-1"></i>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            var $table = $("#table").bootstrapTable();
        });
    </script>
}

