@model IEnumerable<AMS.Models.AssetItem>

@{
    ViewData["Title"] = "Items";
}


@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Items
            </div>
            <div class="card-body">
                <div class="mb-1">
                    <a asp-action="Create" class="btn btn-primary">
                        Add Asset Item
                    </a>
                </div>
                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-show-export="true"
                       data-filter-control="true"
                       data-show-search-clear-button="true"
                       class="table">
                    <thead>
                        <tr>
                            <th data-field="asset" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Asset)
                            </th>
                            <th data-field="itemType" data-sortable="true" data-filter-control="select">
                                @Html.DisplayNameFor(model => model.ItemType)
                            </th>
                            <th data-field="partNumber" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.PartNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asset.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartNumber)
                                </td>
                                <td>
                                    <a class="btn-sm btn-secondary mx-1" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil mx-1"></i>Edit</a>
                                    <a class="btn-sm btn-secondary mx-1" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list mx-1"></i>Details</a>
                                    <a class="btn-sm btn-danger mx-1" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove mx-1"></i>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            var $table = $("#table").bootstrapTable();
        });
    </script>
}


