@model IEnumerable<AMS.Models.TodoTask>
@using Humanizer

@{
    ViewData["Title"] = "My Tasks";
    AmsUser user = ViewData["Me"] as AmsUser;
}

@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> My Todo Tasks (@Model.Count())
            </div>
            <div class="card-body">
                <div class="list-group">
                    @{int i = 1; }
                    @foreach (var task in Model)
                    {
                        <div data-item="@task.Id" class="list-group-item list-group-item-action flex-column align-items-start @(i == 1 ? "active" : "")">

                            <div class="d-flex w-100 justify-content-between">
                                <div class="form-check checkbox">
                                    <input class="form-check-input " type="checkbox" value="" id="check-@task.Id">
                                    <a asp-controller="TodoTasks" asp-action="Details" asp-route-id="@task.Id" class="btn-link @(i++ == 1 ? "text-light" : "")"><h5 class="form-check-label mb-1" for="check-@task.Id">
                                        @task.Summary.Humanize(LetterCasing.Title).Truncate(50)
                                    </h5></a>
                                </div>

                                <small>@((DateTime.Now - task.StartDate).Humanize())</small>
                            </div>
                            <p class="mb-1">@task.Description?.Humanize(LetterCasing.LowerCase).Truncate(150)</p>
                            <small><a asp-controller="Tickets" asp-action="Details" asp-route-id="@task.TicketId">@task.Ticket.Code</a></small>
                            <div class="d-flex w-100 justify-content-end">
                                <button type="button" class="btn btn-sm btn-success" onclick="complete_task(@task.Id)">COMPLETE</button>
                            </div>
                        </div>

                        
                    }
                    
                </div>

            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function complete_task(taskId) {
            $.getJSON('@Url.Action("CompleteTask", "TodoTasks")' + '?id=' + taskId).done(function (data) {
                if (data === true) {
                    var $target = $(".list-group-item[data-item='" + taskId + "'");
                    var $next = $target.next();
                    $target.fadeOut();
                    $next.toggleClass('active');
                    $next.find(".btn-link").addClass("text-light");
                }
            });
        }

        $(function () {
            var $table = $("#table").bootstrapTable();
        });
    </script>
}


