@model AMS.Models.Asset

@{
    ViewData["Title"] = "Asset";
    ViewData["Action"] = "Edit";
}

@inject AMS.Services.IUserService userService

<div class="row">
    <div class="offset-2 col-md-8">
        <form asp-action="@ViewBag.Action" class="form-horizontal">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewBag.Title</strong>
                    Form
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Id Hidden -->
                    <input type="hidden" asp-for="Id" />

                    <!-- TenantId Hidden -->
                    <input type="hidden" asp-for="TenantId" value="@ViewData["TenantId"]" />

                    <!-- CodeNumber Hidden -->
                    <input type="hidden" asp-for="CodeNumber" />

                    <!-- Asset On/Off Switch Input -->
                    <div class="form-group">
                        <label class="switch switch-label switch-pill switch-primary">
                            <input asp-for="IsOn" class="switch-input">
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                    </div>

                    <div class="row">
                        <!-- Code Input -->
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="Code" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Code" class="form-control" disabled />
                                <span class="help-block"><small></small></span>
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- AssetType Select -->
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="AssetTypeId" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId">
                                    <option disabled value="">--- SELECT ---</option>
                                </select>
                                <span class="help-block"><small><i class="fa fa-info-circle mx-1"></i>Selecting asset type will define the properties of asset</small></span>
                                <span asp-validation-for="AssetTypeId" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Name Input -->
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="Name" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Name" class="form-control" />
                                <span class="help-block"><small></small></span>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Asset Client and Location Select -->
                    <div class="row">
                        <!-- Asset Client Select -->
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="ClientId" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span class="help-block"><small><i class="fa fa-info-circle mx-1"></i>Client is the owner of the asset</small></span>
                                <span asp-validation-for="ClientId" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Asset Location Select -->
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="LocationId" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span class="help-block"><small><i class="fa fa-info-circle mx-1"></i>Select the current location of the asset</small></span>
                                <span asp-validation-for="LocationId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Asset Parent Select -->
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="ParentId" class="col-md-3 col-form-label"></label>
                            <div class="col-md-9">
                                <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                                    <option value="">--- SELECT ---</option>
                                </select>
                                <span class="help-block"><small><i class="fa fa-info-circle mx-1"></i>Select another asset as a parent for this asset</small></span>
                                <span asp-validation-for="ParentId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Meta Field Values -->
                    <div class="row">
                        @for (int i = 0; i < Model.Values.Count; i++)
                        {
                        <div class="form-group col-md-6 col-sm-12">
                            <label class="col-md-3 col-form-label">@Model.Values[i].Field.Name</label>
                            <input type="hidden" asp-for="Values[i].FieldId" />
                            <input type="hidden" asp-for="Values[i].AssetId" />
                            <input type="hidden" asp-for="Values[i].Id" />
                            <div class="col-md-9">
                                @if (Model.Values[i].Field.FieldType == FieldType.Text)
                                {
                                    <input asp-for="Values[i].Value" class="form-control" />
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.LargeText)
                                {
                                    <textarea asp-for="Values[i].Value" class="form-control"></textarea>
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.Number)
                                {
                                    <input type="number" asp-for="Values[i].NumberValue" class="form-control" />
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.Decimal)
                                {
                                    <input type="number" asp-for="Values[i].DecimalValue" class="form-control" />
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.Date)
                                {
                                    <input asp-for="Values[i].DateValue" class="form-control" />
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.DateTime)
                                {
                                    <input asp-for="Values[i].DateTimeValue" class="form-control" />
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.Url)
                                {
                                    <input asp-for="Values[i].UrlValue" class="form-control" />
                                    <span class="help-block"><small><a href="@Model.Values[i].UrlValue" target="_blank"><i class="fa fa-external-link mx-1"></i> @Model.Values[i].UrlValue</a></small></span>
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.Boolean)
                                {
                                    <label class="switch switch-label switch-pill switch-primary">
                                        <input asp-for="Values[i].BooleanValue" class="switch-input">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                    </label>
                                }
                                @if (Model.Values[i].Field.FieldType == FieldType.ListItem)
                                {
                                    <select asp-for="Values[i].Value" asp-items="await userService.GetCustomListItemsSelectAsync(Model.Values[i].Field.CustomListId.Value)" class="form-control">
                                        <option value="">--- SELECT ---</option>
                                    </select>
                                }
                            </div>
                        </div>
                        }
                    </div>


                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="reset" class="btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
