@model AMS.Models.UserGroup

@{
    ViewData["Title"] = Model.Name;
    ViewData["Action"] = "Details";

}

@inject AMS.Services.IUserService userService
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body p-0 d-flex align-items-center">
                <i class="fa fa-users bg-info p-4 font-2xl mr-3"></i>
                <div>
                    <div class="text-value-sm text-info">@Model.Members.Count()</div>
                    <div class="text-muted text-uppercase font-weight-bold small">Total Members</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-horizontal">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewBag.Title</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members">Members</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="general" role="tabpanel">
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.Name)</strong></label>
                                        <div class="col-10">@Model.Name </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="members" role="tabpanel">
                                    <partial name="_Members" for="@Model.Members" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            $(".table").bootstrapTable();
        });
    </script>
}