@model AMS.Models.Ticket

@{
    ViewData["Title"] = Model.Summary;
    ViewData["Action"] = "Details";

}

@inject AMS.Services.IUserService userService
    <div class="row">
        @if (Model.RelatedAssets.Any())
        {
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="fa fa-cubes bg-info p-4 font-2xl mr-3"></i>
                        <div>
                            <div class="text-value-sm text-info">@Model.TicketAssets.Count</div>
                            <div class="text-muted text-uppercase font-weight-bold small">Related Assets</div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body p-0 d-flex align-items-center">
                    <i class="fa fa-tasks bg-info p-4 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-info">@Model.TodoTasks.Count(x => x.IsActive)</div>
                        <div class="text-muted text-uppercase font-weight-bold small">Active Tasks</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body p-0 d-flex align-items-center">
                    <i class="fa fa-tasks bg-warning p-4 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-info">@Model.TodoTasks.Count(x => x.IsOverdue)</div>
                        <div class="text-muted text-uppercase font-weight-bold small">Overdue Tasks</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <div class="form-horizontal">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewBag.Title</strong>
                    @Model.Code
                </div>
                <div class="card-body">
                    <div class="row mb-1">
                        <div id="modal-placeholder"></div>
                        <div class="form-group col-md-12">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
                                Edit
                            </a>

                            <button type="button" class="btn btn-primary ml-1" data-toggle="ajax-modal" data-target="#add-modal" data-url="@Url.Action("AddTask", new { ticketId = Model.Id })">
                                Add Task
                            </button>

                            @if (Model.CanBeCompleted)
                            {
                                <a asp-action="ChangeState" asp-route-id="@Model.Id" asp-route-status="@WorkStatus.Completed" class="btn btn-success ml-1">
                                    <i class="fa fa-check"></i> Complete
                                </a>
                            }
                            @if (Model.CanBeCancelled)
                            {
                                <a asp-action="ChangeState" asp-route-id="@Model.Id" asp-route-status="@WorkStatus.Cancelled" class="btn btn-danger ml-1">
                                    <i class="fa fa-close"></i> Cancel
                                </a>
                            }
                            @if (Model.IsActive && !Model.IsPending)
                            {
                                <a asp-action="ChangeState" asp-route-id="@Model.Id" asp-route-status="@WorkStatus.Pending" class="btn btn-warning ml-1">
                                    <i class="fa fa-pause"></i> Pending
                                </a>
                            }

                            @if (Model.IsPending)
                            {
                                <a asp-action="ChangeState" asp-route-id="@Model.Id" asp-route-status="@WorkStatus.Open" class="btn btn-primary ml-1">
                                    <i class="fa fa-play"></i> Re-Open
                                </a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#assignments" role="tab" aria-controls="assignments">Assignments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#attachments" role="tab" aria-controls="attachements">Attachments</a>
                                </li>
                                @if (Model.RelatedAssets.Any())
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#assets" role="tab" aria-controls="assets">Related Assets</a>
                                    </li>

                                }
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks">Tasks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline">Timeline</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="general" role="tabpanel">
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.Summary)</strong></label>
                                        <div class="col-10">@Model.Summary (@Model.Status.ToString())</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.Code)</strong></label>
                                        <div class="col-10">@Model.Code</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.TicketTypeId)</strong></label>
                                        <div class="col-10"><a class="btn-link" asp-controller="TicketTypes" asp-action="Details" asp-route-id="@Model.TicketTypeId">@Model.TicketType?.Name</a></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.ClientId)</strong></label>
                                        <div class="col-10"><a class="btn-link" asp-controller="Clients" asp-action="Details" asp-route-id="@Model.ClientId">@Model.Client?.Name</a></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.LocationId)</strong></label>
                                        <div class="col-10"><a class="btn-link" asp-controller="Locations" asp-action="Details" asp-route-id="@Model.LocationId">@Model.Location?.Name</a></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.DueDate)</strong></label>
                                        <div class="col-10">@Model.DueDate.ToString("dd-MMM-yyyy")</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.StartDate)</strong></label>
                                        <div class="col-10">@Model.StartDate.ToString("dd-MMM-yyyy")</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2"><strong>@Html.DisplayNameFor(m => m.EstDuration)</strong></label>
                                        <div class="col-10">@Model.EstDuration day(s)</div>
                                    </div>

                                    @if (Model.IsPending)
                                    {
                                        <div class="form-group row">
                                            <label class="col-2"><strong>@Html.DisplayNameFor(m => m.PendingDate)</strong></label>
                                            <div class="col-10">@Model.PendingDate.Value.ToString("dd-MMM-yyyy")</div>
                                        </div>
                                    }
                                    @if (Model.CompletionDate.HasValue)
                                    {
                                        <div class="form-group row">
                                            <label class="col-2"><strong>@Html.DisplayNameFor(m => m.CompletionDate)</strong></label>
                                            <div class="col-10">@Model.CompletionDate.Value.ToString("dd-MMM-yyyy")</div>
                                        </div>
                                    }
                                    <hr />
                                    <partial name="_Fields" for="@Model" />
                                </div>
                                <div class="tab-pane" id="assignments" role="tabpanel">
                                    <partial name="_Assignments" for="@Model.Assignments" />
                                </div>
                                <div class="tab-pane" id="attachments" role="tabpanel">
                                    <partial name="_Attachments" for="@Model.Attachements" />
                                </div>
                                <div class="tab-pane" id="assets" role="tabpanel">
                                    <partial name="_Assets" for="@Model.RelatedAssets" />
                                </div>
                                <div class="tab-pane" id="tasks" role="tabpanel">
                                    <partial name="_Tasks" for="@Model.TodoTasks" />
                                </div>
                                <div class="tab-pane" id="timeline" role="tabpanel">
                                    <partial name="_Timeline" for="@Model" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            $(".table").bootstrapTable();
        });
        
    </script>
    <script src="~/js/the-repeater.js"></script>
}