@model AMS.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancellationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancellationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PendingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PendingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
