@model IEnumerable<AMS.Models.TodoTask>

@{
    ViewData["Title"] = "Todo Tasks";
}

@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Todo Tasks
            </div>
            <div class="card-body">

                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-show-export="true"
                       data-filter-control="true"
                       data-show-search-clear-button="true"
                       class="table">
                    <thead>
                        <tr>
                            <th data-field="summary" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Summary)
                            </th>
                            <th data-field="description" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th data-field="ticket" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Ticket)
                            </th>
                            <th data-field="todoTaskType" data-filter-control="select">
                                @Html.DisplayNameFor(model => model.TodoTaskType)
                            </th>
                            <th data-field="status" data-filter-control="select">
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th data-field="dueDate" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.DueDate)
                            </th>
                            <th data-field="startDate" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th data-field="completionDate" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.CompletionDate)
                            </th>
                            <th data-field="cancellationDate" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.CancellationDate)
                            </th>
                            <th data-field="pendingDate" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.PendingDate)
                            </th>
                            <th data-field="markCompleted" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.MarkCompleted)
                            </th>
                            <th data-field="estDuration" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.EstDuration)
                            </th>
                            <th data-field="actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ticket.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TodoTaskType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompletionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CancellationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PendingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MarkCompleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstDuration)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            var $table = $("#table").bootstrapTable();
        });
    </script>
}


